@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  scrollbar-width: none;
}
.about {
  background-image: url("/cta.png");
  object-fit: cover;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-mint: #8e9867;
  --color-brown: #8d6959;
  --color-mintl: #6d754d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add these custom animations to your global CSS file (e.g., globals.css) */
@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}

.animation-delay-1000 {
  animation-delay: 1s;
}

.section {
  position: sticky;
  top: 0;
}
